:root {
  --color-orange: hsl(35, 77%, 62%);
  --color-red: hsl(5, 85%, 63%);
  --color-off-white: hsl(36, 100%, 99%);
  --color-grayish-blue: hsl(233, 8%, 79%);
  --color-dark-grayish-blue: hsl(236, 13%, 42%);
  --color-very-dark-blue: hsl(240, 100%, 5%);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color-scheme: dark light;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  color: var(--color-dark-grayish-blue);
  display: grid;
  place-items: center;
  align-content: center;
  row-gap: 4rem;
}

img,
picture,
svg,
video {
  display: block;
  width: 100%;
}

.container {
  width: min(90%, 100rem);
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 3rem;
}
.header__logo {
  width: 5rem;
}
.header__nav-box {
  list-style: none;
  display: flex;
  column-gap: 4rem;
  align-items: center;
}
.header__nav-link:link, .header__nav-link:visited {
  text-decoration: none;
  color: var(--color-dark-grayish-blue);
  transition: color 0.2s;
}
.header__nav-link:hover, .header__nav-link:active {
  color: var(--color-red);
}
.header__hamburger-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 1rem;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__hamburger-line {
  height: 0.2rem;
  width: 5rem;
  background-color: var(--color-very-dark-blue);
}
.header__hamburger-line:not(:last-child) {
  margin-bottom: 0.5rem;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
@media only screen and (max-width: 62.5em) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}
.main__illustration {
  grid-column: 1/span 2;
}
@media only screen and (max-width: 62.5em) {
  .main__illustration {
    grid-row: 1/-1;
    grid-column: 1/-1;
  }
}
.main__illustration-img {
  min-height: 100%;
}
.main__text-box {
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  grid-row: 2/2;
  grid-column: 2/3;
}
.main__sidebar {
  background-color: var(--color-very-dark-blue);
  color: var(--color-off-white);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  grid-row: 1/3;
  grid-column: 3/-1;
}
@media only screen and (max-width: 62.5em) {
  .main__sidebar {
    grid-row: 3/3;
    grid-column: 1/-1;
  }
}
.main__sidebar-container {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
@media only screen and (max-width: 62.5em) {
  .main__sidebar-container {
    flex-direction: row;
    column-gap: 2.5rem;
  }
}
.main__sidebar-box {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.main__sidebar-box:not(:last-child) {
  border-bottom: 1px solid var(--color-dark-grayish-blue);
  padding-bottom: 2rem;
}
@media only screen and (max-width: 62.5em) {
  .main__sidebar-box:not(:last-child) {
    border-bottom: none;
    padding-bottom: none;
    border-right: 1px solid var(--color-dark-grayish-blue);
    padding-right: 1rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .main__sidebar-box {
    flex: 1;
  }
}
.main__sidebar-link:link, .main__sidebar-link:visited {
  color: var(--color-off-white);
  text-decoration: none;
  transition: all 0.2s;
}
.main__sidebar-link:hover, .main__sidebar-link:active {
  color: var(--color-orange);
}
.main__sidebar-text {
  color: var(--color-grayish-blue);
  line-height: 1.5;
}

.footer {
  margin-bottom: 3rem;
  display: flex;
  column-gap: 2rem;
}
.footer__box {
  display: flex;
  column-gap: 1.5rem;
}
.footer__illustration-box {
  flex: 1;
}
.footer__illustration-img {
  min-height: 100%;
  object-fit: cover;
}
.footer__text-box {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 62.5em) {
  .footer__text-box {
    flex: 2;
  }
}
.footer__text-box .heading--2 {
  font-size: 3rem;
  color: var(--color-grayish-blue);
}
.footer__text-box .heading--3 {
  font-size: 1.5rem;
  font-weight: 800;
}
.footer__link:link, .footer__link:visited {
  color: var(--color-very-dark-blue);
  text-decoration: none;
  transition: all 0.2s;
}
.footer__link:hover, .footer__link:active {
  color: var(--color-red);
}

.heading--1 {
  font-size: 4.5rem;
  line-height: 1;
  padding-right: 4rem;
  font-weight: 800;
  color: var(--color-very-dark-blue);
  grid-row: 2/2;
  grid-column: 1/2;
  align-self: center;
}
.heading--2 {
  color: var(--color-orange);
  font-size: 3rem;
}
.heading--3 {
  font-weight: 700;
  font-size: 1.8rem;
}

.btn--text:link, .btn--text:visited {
  background-color: var(--color-red);
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-off-white);
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  margin-top: auto;
  align-self: flex-start;
}
.btn--text:hover {
  background-color: var(--color-very-dark-blue);
}

/*# sourceMappingURL=style.css.map */
