:root {
  --color-orange: hsl(35, 77%, 62%);
  --color-red: hsl(5, 85%, 63%);
  --color-off-white: hsl(36, 100%, 99%);
  --color-grayish-blue: hsl(233, 8%, 79%);
  --color-dark-grayish-blue: hsl(236, 13%, 42%);
  --color-very-dark-blue: hsl(240, 100%, 5%);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color-scheme: dark light;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  color: var(--color-dark-grayish-blue);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

img,
picture,
svg,
video {
  display: block;
  width: 100%;
}

.menu {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  display: flex;
  justify-content: flex-end;
}
.menu__box {
  background-color: var(--color-off-white);
  padding: 3rem 2rem;
  height: 100%;
  width: 70%;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.menu__list {
  list-style: none;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.menu__link:link, .menu__link:visited {
  text-decoration: none;
  color: var(--color-very-dark-blue);
  transition: all 0.2s;
}
.menu__link:hover, .menu__link:active {
  color: var(--color-red);
}
.menu__backdrop {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: hsla(228, 5%, 18%, 0.473);
}

.main {
  width: min(90%, 110rem);
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}
.main__header {
  padding: 1rem 0;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.main__header-logo {
  width: 7%;
}
.main__header-logo-img {
  width: 6rem;
}
@media only screen and (max-width: 62.5em) {
  .main__header-logo-img {
    width: 5rem;
  }
}
@media only screen and (max-width: 43.75em) {
  .main__header-logo-img {
    width: 5rem;
  }
}
.main__header-nav-box {
  list-style: none;
  display: flex;
  column-gap: 4rem;
  align-items: center;
}
@media only screen and (max-width: 43.75em) {
  .main__header-nav-box {
    visibility: hidden;
    opacity: 0;
  }
}
.main__header-nav-link:link, .main__header-nav-link:visited {
  text-decoration: none;
  color: var(--color-dark-grayish-blue);
  transition: color 0.2s;
}
.main__header-nav-link:hover, .main__header-nav-link:active {
  color: var(--color-red);
}
.main__header-hamburger-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 43.75em) {
  .main__header-hamburger-menu {
    visibility: visible;
    opacity: 1;
  }
}
.main__header-hamburger-line {
  height: 0.3rem;
  width: 4rem;
  background-color: var(--color-very-dark-blue);
}
.main__header-hamburger-line:not(:last-child) {
  margin-bottom: 0.5rem;
}
.main__main-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
}
@media only screen and (max-width: 62.5em) {
  .main__main-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 43.75em) {
  .main__main-content {
    grid-template-columns: repeat(1, 100%);
    column-gap: 0;
  }
}
.main__illustration {
  width: 100%;
  grid-column: 1/span 2;
}
@media only screen and (max-width: 62.5em) {
  .main__illustration {
    grid-row: 1/-1;
    grid-column: 1/-1;
  }
}
@media only screen and (max-width: 43.75em) {
  .main__illustration {
    grid-row: 1/1;
    grid-column: 1/span 2;
  }
}
.main__illustration-box {
  width: 100%;
  min-height: 100%;
}
.main__illustration-src {
  width: 100%;
}
.main__text-box {
  width: 100%;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  grid-row: 2/2;
  grid-column: 2/3;
}
@media only screen and (max-width: 43.75em) {
  .main__text-box {
    row-gap: 2.5rem;
    grid-row: 3/span 1;
    grid-column: 1/span 2;
  }
}
.main__sidebar {
  background-color: var(--color-very-dark-blue);
  color: var(--color-off-white);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  grid-row: 1/3;
  grid-column: 3/-1;
}
@media only screen and (max-width: 62.5em) {
  .main__sidebar {
    grid-row: 3/3;
    grid-column: 1/-1;
  }
}
@media only screen and (max-width: 43.75em) {
  .main__sidebar {
    grid-row: 4;
  }
}
.main__sidebar-container {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
@media only screen and (max-width: 62.5em) {
  .main__sidebar-container {
    flex-direction: row;
    column-gap: 2.5rem;
  }
}
@media only screen and (max-width: 43.75em) {
  .main__sidebar-container {
    flex-direction: column;
  }
}
.main__sidebar-box {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.main__sidebar-box:not(:last-child) {
  border-bottom: 1px solid var(--color-dark-grayish-blue);
  padding-bottom: 2rem;
}
@media only screen and (max-width: 62.5em) {
  .main__sidebar-box:not(:last-child) {
    border-bottom: none;
    padding-bottom: none;
    border-right: 1px solid var(--color-dark-grayish-blue);
    padding-right: 1rem;
  }
}
@media only screen and (max-width: 43.75em) {
  .main__sidebar-box:not(:last-child) {
    border-bottom: 1px solid var(--color-dark-grayish-blue);
    padding-bottom: 2rem;
    border-right: none;
    padding-right: 0;
  }
}
@media only screen and (max-width: 62.5em) {
  .main__sidebar-box {
    flex: 1;
  }
}
.main__sidebar-link:link, .main__sidebar-link:visited {
  color: var(--color-off-white);
  text-decoration: none;
  transition: all 0.2s;
}
.main__sidebar-link:hover, .main__sidebar-link:active {
  color: var(--color-orange);
}
.main__sidebar-text {
  color: var(--color-grayish-blue);
  line-height: 1.5;
}
.main__footer {
  width: 100%;
  display: flex;
  column-gap: 2rem;
}
@media only screen and (max-width: 43.75em) {
  .main__footer {
    flex-direction: column;
    row-gap: 3rem;
  }
}
.main__footer-box {
  width: 100%;
  display: flex;
  column-gap: 1.5rem;
}
.main__footer-illustration-box {
  width: 30%;
}
@media only screen and (max-width: 43.75em) {
  .main__footer-illustration-box {
    width: 30%;
  }
}
.main__footer-illustration-img {
  object-fit: cover;
  min-height: 100%;
}
.main__footer-text-box {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 62.5em) {
  .main__footer-text-box {
    flex: 2;
  }
}
@media only screen and (max-width: 43.75em) {
  .main__footer-text-box {
    width: 70%;
    justify-content: center;
    row-gap: 1rem;
  }
}
.main__footer-text-box .heading--2 {
  font-size: 3rem;
  color: var(--color-grayish-blue);
}
.main__footer-text-box .heading--3 {
  font-size: 1.5rem;
  font-weight: 800;
}
.main__footer-text {
  line-height: 1.7;
}
.main__footer-link:link, .main__footer-link:visited {
  color: var(--color-very-dark-blue);
  text-decoration: none;
  transition: all 0.2s;
}
.main__footer-link:hover, .main__footer-link:active {
  color: var(--color-red);
}

.heading--1 {
  width: 100%;
  font-size: 4.5rem;
  line-height: 1;
  padding-right: 4rem;
  font-weight: 800;
  color: var(--color-very-dark-blue);
  grid-row: 2/2;
  grid-column: 1/2;
  align-self: center;
}
@media only screen and (max-width: 43.75em) {
  .heading--1 {
    font-size: 4rem;
    padding-right: 0;
    grid-column: 1/span 2;
  }
}
.heading--2 {
  color: var(--color-orange);
  font-size: 3rem;
}
.heading--3 {
  font-weight: 700;
  font-size: 1.8rem;
}

.btn--text {
  display: block;
}
@media only screen and (max-width: 43.75em) {
  .btn--text {
    margin-top: 2rem;
  }
}
.btn--text:link, .btn--text:visited {
  background-color: var(--color-red);
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-off-white);
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  margin-top: auto;
  align-self: flex-start;
}
.btn--text:hover {
  background-color: var(--color-very-dark-blue);
}
.btn--close {
  background-color: transparent;
  border: none;
  width: max-content;
  margin-bottom: 6rem;
  cursor: pointer;
  align-self: flex-end;
}

.unhide-menu {
  opacity: 1;
  visibility: visible;
}

/*# sourceMappingURL=style.css.map */
